//  Javascript Files
    ==================================================
script(src="js/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="js/jpreLoader.min.js")
script(src="js/wow.min.js")
script(src="js/jquery.isotope.min.js")
script(src="js/easing.js")
script(src="js/owl.carousel.js")
script(src="js/validation.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/enquire.min.js")
script(src="js/jquery.stellar.min.js")
script(src="js/jquery.plugin.js")
script(src="js/typed.js")
script(src="js/typed-custom.js")
script(src="js/designesia.js")
script(src="js/data.js")
script(src="data/startTest.js")
script(src="data/createQuestion.js")
script(src="data/checkForm.js")
script(src="data/checkTask.js")
script(src="data/checkTask1.js")
