extends ../layouts/default.pug

block content
	#top
	//section begin
	section#section-main.vertical-center.text-light(data-bgimage="url(images/background/2.jpg) top")
		.container
			row.row.align-items-center
				.col-md-6
					h1.wow.fadeInRight(data-wow-delay=".4s") Практическое задание
					p.lead.wow.fadeInRight(data-wow-delay=".5s") Выполненные задания будут оцениваться сотрудниками компании.Ориентировочная дата завершения проверки заданий – 23 мая. Если количество правильных ответов составляет 90%,Вы получите сертификат об успешном прохождении курса “Intro to IT”. После этого мы свяжемся с Вами и пригласим на собеседование для обсуждения дальнейшего пути Вашего развития.
					.spacer-single
			.row
				img(src="images/people/.jpg" alt="")
	//section close