doctype html
html(lang="en-US" class="csstransforms csstransforms3d csstransitions")
  include ../includes/head.pug
  body
    #wrapper
      #btn-exit
        .line-1
        .line-2
      .transition
      include ../includes/header.pug
      // content begin
      .no-bottom.no-top.dark
        block content
      include ../includes/footer.pug
      block main
    include ../includes/foot.pug
